.styleBox {
    height: 55vh;
}
.bg {
    background-color: rgb(157, 195, 231);
}
.logo {
    margin-top: 6px;
}
.logoColor {
    font-family: 'Russo One', sans-serif;
}
.navbarColor {
    background-color: rgb(12, 13, 15);
    border: none;
    padding-bottom: 0;
    margin-bottom: 0px;
    height: 8vh;
}
.fontNavbar {
    font-family: 'Fredoka One', cursive;
    font-size: 2rem;
}
.slider {
    margin-bottom: 15px;
    padding-top: 0px;
}
.car-css {
 text-align: center;
 background: rgb(241, 188, 10);
 margin-left: 25%;
 color: black;
 font-family: fantasy;
 font-size: 20px;
}
.product-container {
 margin-top: 5%; 
}
.text {
 text-align: center;
 font-size: 30px;
 font-family: fantasy;
 color: rgb(8, 8, 0);
 margin-bottom: 2%;
}
.fo {
 color: aliceblue;
 font-size: 20px;
}